<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <h1 class="main-heading text-center">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        {{! left side }}
        <div class="col-md-6 col-12 hero-text">
          <figure>
            <img src="images/about.svg" alt="second-section-image" />
          </figure>
        </div>
        {{! right side }}
        <div
          class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column"
        >
          <h1>WE ARE PROFESSIONAL DEVELOPERS.</h1>
          <p>Welcome to
            <span class="bold-style">anshul1265</span>
            . Your number one source for all the things. We are dedicated to
            give you the best of work.
          </p>
          <button class="btn-style btn btn-primary btn-lg">Read more</button>
        </div>
      </div>
    </div>
  </div>
</div>